.topContainer {
  height: 900px;
  margin-top: -11rem;
  p {
    color: #000000;
    margin-bottom: 0;
  }
  :global(.card-body) {
    width: 768px;
    p:nth-child(1) {
      color: #fff;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    p:nth-child(2) {
      color: #fff;
      font-size: 52px;
      line-height: 4.2rem;
      font-family: Helvetica-Bold;
    }
  }
  :global(.carousel-inner) {
    img {
      height: 900px;
      transform: scale(1);
      object-fit: cover;
    }
  }
  :global(.btn) {
    background-color: #d4b254;
    height: 60px;
    width: 228px;
    max-width: 228px;
    border-radius: 35px;
    font-size: 15px;
    border: none;
    padding: 1rem 3rem;
    margin: 1rem 0;
    letter-spacing: 3px;
  }
  :global(.carousel-caption) {
    bottom: 13rem;
  }
  :global(.card) {
    background: none;
    border: none;
  }
  :global(.carousel-indicators) {
    margin-bottom: 2rem;
  }
  :global(.carousel-indicators [data-bs-target]) {
    width: 50px;
    height: 5px;
    opacity: 1;
    border-top: 0;
    border-bottom: 1rem;
    border-radius: 20px;
  }
  :global(.carousel-indicators .active) {
    background-color: #d4b254;
  }
  :global(.carousel-control-next-icon) {
    display: none;
  }
  :global(.carousel-control-prev-icon) {
    display: none;
  }
}

@media (max-width: 992px) {
  .topContainer {
    :global(.carousel-caption) {
      bottom: 16%;
    }
    :global(.card-body) {
      width: 100%;
      padding: 0;
      p:nth-child(2) {
        color: #fff;
        font-size: 26px;
        line-height: 2rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  .topContainer {
    margin-top: -21rem;
  }
}
