.navigation {
  z-index: 9999;
  :global(.container) {
    border-bottom: 1px solid #ffffff;
    padding: 1rem 0 1.6rem 0;
  }
  :global(.nav-link) {
    font-size: 13px;
    letter-spacing: 3px;
    margin: 0 1rem;
  }
  :global(img) {
    height: 15px;
    margin: 4px 0.5rem;
  }
  :global(.btn) {
    background-color: transparent;
    border: 1px solid #ffffff !important;
    border-radius: 35px;
    height: 52px;
    border: none;
    min-width: 77px;
    padding: 0.5rem 1rem;
    font-size: 13px;
    width: 192px;
    letter-spacing: 3px;
  }
  :global(.navbar-nav) {
    justify-content: space-evenly;
  }

  :global(.navbar-brand) {
    img {
      height: 34px;
    }
  }
}

@media (max-width: 1200px) {
  .navigation {
    :global(.navbar-toggler) {
      border-color: #ffffff;
    }
    :global(.nav-link) {
      font-size: 10px;
      letter-spacing: 3px;
      margin: 0 1rem;
    }
    :global(.navbar-nav) {
      padding-right: auto;
    }
    :global(#responsive-navbar-nav) {
      justify-content: center !important;
      flex-direction: column;
    }
    :global(.btn) {
      width: 100%;
      margin: 1rem;
    }
    :global(.logo) {
      display: none;
    }
    :global(.socials) {
      display: none !important;
    }
  }
}

