.galleryContainer {
  padding: 2rem 0 5rem 0;
  :global(p) {
    color: #222222;
    font-size: 32px;
    padding: 3rem 0 0 0;
    font-family: Helvetica-Bold;
  }
  :global(.card) {
    max-width: 310px;
    border: none;
  }
  :global(.btn) {
    background-color: #d4b254;
    height: 60px;
    max-width: 419px;
    border-radius: 35px;
    border: none;
    padding: 1rem 3rem;
    margin: 3rem 0 2.5rem 0;
    letter-spacing: 3px;
  }
}

@media (max-width: 576px) {
  .galleryContainer {
    :global(.card) {
      width: 100%;
      padding: .5rem 0;
    }
  }
}
